	
	<div class="row">
		<ng-container *ngFor="let shoe of shoes; let i = index;">
<div class="col-sm-3">
	<mat-card >
		<div class="overlay-image">
			
        <div data-aos="slide-right" data-aos-duration="1500"  *ngIf="shoe?.quantity>20"class="discount">-50%</div>
        <div data-aos="slide-right" data-aos-duration="1500" *ngIf="shoe?.quantity>10 && shoe?.quantity<20"class="discount">-25%</div>
			<img data-aos="fade-down" data-aos-duration="2000" class=" image _bq " src="{{imagesPath}}{{shoe?.images[0]}}" alt="Alt text" />

			<p data-aos="fade-up" data-aos-duration="1000"  style="font-weight: bold; color:black; margin: 0;">{{shoe?.brand}}</p>
		<p data-aos="fade-up" data-aos-duration="1500"style="margin: 0;color:black;">Code: {{shoe?.barcode}}</p>
      <p data-aos="fade-up" data-aos-duration="2000" style="color: blue; margin:0;">€{{shoe?.price}}</p>
      <p data-aos="fade-up" data-aos-duration="2500" style="color: green; font-weight: bold;" *ngIf="shoe?.quantity>0">In Stock</p>
      <p data-aos="fade-up" data-aos-duration="3000" style="color: red; font-weight: bold;" *ngIf="shoe?.quantity==0">Out of Stock</p>
		    
	        </div>
        <button  [disabled]="(check(i) || shoe?.quantity==0)" [id]="i" (click)="addToCart(shoe, i)" mat-button style="background-color: grey;"><mat-icon>add_shopping_cart</mat-icon>Add to Cart</button>
	</mat-card>
</div>

 <div *ngIf="(i+1) % 4 === 0" class="w-100 "></div>
 </ng-container>
</div>

