<div class="row">
    <div class="container">
      <div class="d-flex flex-row">
 <input type="text" class="form-control" placeholder="Order code..."  [(ngModel)]="searchword" (input)="searchOrder()">
 <button routerLink="/create-shoe" type="button" class="btn btn-info">Create Shoe</button>
 <button routerLink="/main-page" type="button" class="btn btn-dark">Main Page</button>
  
</div>


</div>
</div>
<div class="row">
    <div class="container">
<mat-card>
    <div class="row">
  <div class="col-sm-2 head"></div>
  <div class="col-sm-2 head">Brand</div>
  <div class="col-sm-2 head">Quant</div>
  <div class="col-sm-2 head">Color</div>
  <div class="col-sm-2 head">Size</div>
  <div class="col-sm-2 head">Price</div>
</div>
<div class="row orders" *ngFor="let filter of filtered">
    
    <div class="col-sm-2">
       <img class="images" src="{{url}}{{filter.images[0]}}"/> 
    </div>
    
    <div class="col-sm-2">
     {{filter?.brand}}
    </div>
     
     <div class="col-sm-2">
  {{filter?.quantity}}
</div>

<div class="col-sm-2">
    {{filter?.color}}
    </div>
     
     <div class="col-sm-2">
  {{filter?.size}}
</div>

 <div class="col-sm-2">
  {{filter?.price}}
</div>
        
</div>
<div class="row total">
    <div class="col-sm-12">
    <h4 *ngIf="total!==0">Total: {{total}}</h4>
</div>
</div>
</mat-card>
</div>
</div>
