mat-toolbar {
    
    border-bottom: 2px solid black;
    background-color: #505050;
}

.title {
	font-size: 1.5rem;
	color: white;
}



.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-raised-button {
	background-color: transparent;
	border: 2px solid black;
	margin-left: 7px;
	color: white;

}

.mat-raised-button:hover {
	border: solid 2px white;
}

.material-icons2 {
	font-size: 200%;
	color: white;
	margin-top: 6px;
	margin-left: 8px;
}

.material-icons1 {
	font-size: 120%;
	color: white !important;
	margin-right: 30px;
	margin-top: 0px !important;
	
}
.test {
	color: white;
}



.userphoto {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 1px solid white;
}

.username {
	margin-left: 5px;
	font-size: 1.5rem;
	color: white;
}

