<mat-toolbar>
  <span *ngIf="!(username | async)" class="title">E-Commerce</span>
  <span  *ngIf="(username | async)" class="title">
  	<a routerLink="/main-page"><img class="userphoto" src="{{url}}{{photo | async}}" /></a>
  </span>
  <span  *ngIf="username" class="username">{{username | async}}</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

 	
  <button  *ngIf="!(isLoggedIn | async)" routerLink="/signup" mat-raised-button>Register</button>
  <button *ngIf="!(isLoggedIn | async)" routerLink="/login" mat-raised-button>Login</button>
  

  
 
 <span *ngIf="(isLoggedIn | async)" class="material-icons2">
<a routerLink ="/cart"> 
  <mat-icon class="test" *ngIf="(role | async)==='user'"  [inline]="true" matBadge="{{(basket | async)}}" matBadgePosition="before after" matBadgeSize="medium" matBadgeColor="warn">shopping_basket</mat-icon>
  </a>
  <a routerLink ="/admin-orders">
  <mat-icon class="material-icons1" *ngIf="(role | async)==='admin'">unarchive</mat-icon>
</a>

</span>
  	  <button *ngIf="(isLoggedIn | async)" (click)="onLogout()" mat-raised-button>Logout</button>
  
</mat-toolbar>
