.container {
	margin-top : 50px;
	width: 30%;
}


.mat-card {
	margin: auto;
}

.example-full-width {
  width: 100%;
}

.space {
	float: right;
}

.message {
	font-size: 80%;
	color: red;
	margin-bottom: 5px;
}