.container {
	margin-top: 40px;
}

.line {
	width: 100%;
	height: 1px;
	background-color: grey;
}

.im {
	width: 90px;
	height: 90px;
	border-radius: 70px;

}

.brand {
	font-weight: bold;
	margin-left: 5px;
	margin-top: 0px;
}

.quantity {
	margin-top: 10px;
	font-weight: bold;
}

.price {
	margin-top: 10px;
	font-weight: bold;
}

.add_remove {
	margin-top: 10px;
	font-weight: bold;
}

.rquant {
	margin-left: 25px;
}

.add {
	color: green;
	font-size: 40px;
	border: none;
	background-color: transparent;
}

.remove {
	color: red;
	font-size: 40px;
	border: none;
	background-color: transparent;
}

.confirm {
	margin-top: 15px;
	flex: 1 1 auto;
	
}

.total {
	margin-top: 15px;
	font-weight: bold;
	font-size: 1.5rem;
}

.order {
	float: right;
	margin-right: 10px;
	
}

.colors {
    margin-top: 10px;
	font-weight: bold;
}

.sizes {
    margin-top: 10px;
	font-weight: bold;
}

.mat-form-field {
	width: 50%;
}

