<div class="container">
	<div class="row">
		<div class="col-sm">
			<mat-card>
				<mat-card-title>Your Order</mat-card-title>	
			<div *ngFor="let temp1 of temp; let i = index;" class="row">
				<div class="col-sm-2">
					<div class="d-flex flex-column bd-highlight">
                <div class="p-2 brand">{{temp1?.brand}}</div>
                <img class="im p-2 bd-highlight"  src="{{url}}{{temp1?.images[0]}}"   />
            </div>
				</div>
				<div class="col-sm-2 quantity">
					<div class="d-flex flex-column bd-highlight">
					<p>Quantity</p>
					<p class="rquant">{{temp1?.cart_quantity}}</p>
					</div>
				</div>
				<div class="col-sm-2 price">
					<div class="d-flex flex-column bd-highlight">
					<p>Price</p>
					<p>
                    {{temp1?.cart_price}}
					</p>
				</div>
				</div>
				<div class="col-sm-2 colors">
					<div class="d-flex flex-column bd-highlight">
					<p>Color</p>
					<mat-form-field>
					  <mat-label>Color</mat-label>
					  <mat-select (selectionChange)="changeColor($event.value, temp1)">
					  	<ng-container *ngFor="let color of colors">
					    <mat-option  [value]="color" *ngIf="temp1.colors.includes(color.value)" >
                          {{color.value}}
					    </mat-option>
					</ng-container>
					  </mat-select>
					</mat-form-field>
				</div>
				</div>
				<div class="col-sm-2 sizes">
					<div class="d-flex flex-column bd-highlight">
					<p>Size</p>
					<mat-form-field>
					  <mat-label>Size</mat-label>
					  <mat-select (selectionChange)="changeSize($event.value, temp1)">
					  	<ng-container *ngFor="let size of sizes">
					    <mat-option [value]=size *ngIf="temp1.sizes.includes(size.value)" >
                          {{size.value}}
					    </mat-option>
					</ng-container>
					  </mat-select>
					</mat-form-field>
				</div>
				</div>
				<div class="col-sm-2 add_remove">
					<div class="d-flex flex-column bd-highlight">
					<p>Add or Remove</p>
					<button [disabled]="disablePlus"  (click)="Add(temp1)" class="material-icons add">add_circle </button><span></span>
					<button [disabled]="disableMinus"  (click)="Remove(temp1)" class="material-icons remove">remove_circle</button>
				</div>
				</div>
		      
		      <div class="line"></div>
			</div>
			<div class="row">
				<div class="col-sm-6 total">Total: {{total | async}}</div>
			<div class="col-sm-6 confirm">	
			<button (click)="placeOrder()"  class="btn btn btn-dark order">Confirm Order</button>
		</div>
		</div>
			</mat-card>
		</div>
	</div>
</div>

