<div class="container">
	<div class="row">
		<div class="col-sm">
			<mat-card>
				<mat-card-title>Your Order</mat-card-title>	
			<div *ngFor="let temp1 of temp; let i = index;" class="row">
				<div class="col-sm-2">
					<div class="d-flex flex-column bd-highlight">
                <div class="p-2 brand">{{temp1?.brand}}</div>
                <img class="im p-2 bd-highlight"  src="{{url}}{{temp1?.images[0]}}"   />
            </div>
				</div>
				<div class="col-sm-2 quantity">
					<div class="d-flex flex-column bd-highlight">
					<p>Quantity</p>
					<p class="rquant">{{temp1?.cart_quantity}}</p>
					</div>
				</div>
				<div class="col-sm-2 price">
					<div class="d-flex flex-column bd-highlight">
					<p>Price</p>
					<p>
                    {{temp1?.cart_price}}
					</p>
				</div>
				</div>
				<div class="col-sm-2 colors">
					<div class="d-flex flex-column bd-highlight">
					<p>Color</p>
					<mat-form-field>
					  <mat-label>Color</mat-label>
					  <mat-select (selectionChange)="changeColor($event.value, temp1)">
					  	<ng-container *ngFor="let color of colorsmen">
					    <mat-option  [value]="color" *ngIf="temp1.colors.includes(color.value) && temp1.category === 'MEN'" >
                          {{color.value}}
					    </mat-option>
					</ng-container>
					<ng-container *ngFor="let color of colorswomen">
					    <mat-option  [value]="color" *ngIf="temp1.colors.includes(color.value) && temp1.category === 'WOMEN'" >
                          {{color.value}}
					    </mat-option>
					</ng-container>
					<ng-container *ngFor="let color of colorskids">
					    <mat-option  [value]="color" *ngIf="temp1.colors.includes(color.value) && temp1.category === 'KIDS'" >
                          {{color.value}}
					    </mat-option>
					</ng-container>
					  </mat-select>
					</mat-form-field>
				</div>
				</div>
				<div class="col-sm-2 sizes">
					<div class="d-flex flex-column bd-highlight">
					<p>Size</p>
					<mat-form-field>
					  <mat-label>Size</mat-label>
					  <mat-select (selectionChange)="changeSize($event.value, temp1)">
					  	<ng-container *ngFor="let size of sizesmen">
					    <mat-option [value]=size *ngIf="temp1.sizes.includes(size.value) && temp1.category === 'MEN'" >
                          {{size.value}}
					    </mat-option>
					</ng-container>
					<ng-container *ngFor="let size of sizeswomen">
					    <mat-option [value]=size *ngIf="temp1.sizes.includes(size.value) && temp1.category === 'WOMEN'" >
                          {{size.value}}
					    </mat-option>
					</ng-container>
					<ng-container *ngFor="let size of sizeskids">
					    <mat-option [value]=size *ngIf="temp1.sizes.includes(size.value) && temp1.category === 'KIDS'" >
                          {{size.value}}
					    </mat-option>
					</ng-container>
					  </mat-select>
					</mat-form-field>
				</div>
				</div>
				<div class="col-sm-2 add_remove">
					<div class="d-flex flex-column bd-highlight">
					<p>Add or Remove</p>
					<button [disabled]="disablePlus"  (click)="Add(temp1)" class="material-icons add">add_circle </button><span></span>
					<button (click)="Remove(temp1)" class="material-icons remove">remove_circle</button>
				</div>
				</div>
		      
		      <div class="line"></div>
			</div>
			<div class="row">
				<div class="col-sm-6 total">Total: {{total | async}}</div>
			<div class="col-sm-6 confirm">	
			<button (click)="placeOrder()"  class="btn btn btn-dark order" data-toggle="modal" data-target="#exampleModal">Confirm Order</button>
		</div>
		</div>
			</mat-card>
		</div>
	</div>
</div>


<!-- Modal -->
<div *ngIf="(sizeBool | async)" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Your Order</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You have successfully place your Order</p>
        <p>Your order Number is {{(code | async)}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>