
<div class="row heading">
	<div class="col-sm-3 offset-sm-1">
		<mat-card>
 <div class=" overlay-image _bp "><a routerLink="/men-shoes">
 <img class=" image _bq " src="../assets/img/men-category.jpg" alt="Alt text" />
 <div class=" normal _bs ">
  <div class=" text _q ">MEN</div>
 </div>
 <div class=" hover _br ">
  <div class=" text _q ">MEN</div>
 </div>
</a></div>	
			
</mat-card>
	</div>
	<div class="col-sm-3">
		<mat-card>
	<div class=" overlay-image _bp "><a routerLink="/women-shoes">
 <img class=" image _bq " src="../assets/img/women-category.jpg" alt="Alt text" />
 <div class=" normal _bs ">
  <div class=" text _q ">WOMEN</div>
 </div>
 <div class=" hover _br ">
  <div class=" text _q ">WOMEN</div>
 </div>
</a></div>
</mat-card>
	</div>
	<div class="col-sm-3">
		<mat-card>
	<div class=" overlay-image _bp "><a routerLink="/kids-shoes">
 <img class=" image _bq " src="../assets/img/kids-category.jpg" alt="Alt text" />
 <div class=" normal _bs ">
  <div class=" text _q ">KIDS</div>
 </div>
 <div class=" hover _br ">
  <div class=" text _q ">KIDS</div>
 </div>
</a></div>
</mat-card>
	</div>
</div>



